:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  --grayish: hsl(0, 0%, 89%);
  --sp1: 1rem;
  --sp1-2: 1.5rem;
}

$bp-medium: 700px;
$bp-large: 1080px;

// html {
//   font-size: 16px;

//   @media screen and (min-width: $bp-large) {
//     font-size: 25px;
//   }
// }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: var(--almost-white);
  overflow-x: hidden;

  font-family: "Epilogue", sans-serif;
}

.footer {
  margin-top: auto;
  padding: 1rem;
}
